<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FastApi App</title>
    <style>
        .product {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }
        textarea {
            resize: none;
        }


    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">FastAPI App</a>
        <a href="{{ url_for('create_sync') }}">Create sync</a>
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages(request) %}
            <div class="{{ message.category }}">{{ message.message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>